body {
  width: 200px;
}

h1 {
  font-size: 15px;
  font-weight: normal;
  line-height: 1;
}

h1 img {
  display: inline-block;
  vertical-align: middle;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2f969e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2f969e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

.slider:after {
  content: 'Disabled';
  display: inline-block;
  margin-left: 60px;
  clear:both;
}

input:checked + .slider:after {
  content: 'Enabled';
}

/* Rounded sliders */
.slider.round {
  border-radius: 8px;
}

.slider.round:before {
  border-radius: 50%;
}

#keyword {
  width: 75%;
  margin: 10px 10px 10px 0;
}

#keyword:focus {
  outline: none;
}

.hidden {
  display: none;
}